.area-graph{
    display: flex;
    align-items: flex-end;
    position: relative;
    box-sizing: border-box;
    height: 332px;
    /* background-color: rgba(0, 0, 0, 0.3); */
	background-color: #1d1d1f;
    padding: 100px 40px 20px 40px;
    border-radius: 20px;
}
.recharts-surface{
    overflow: visible !important;
}
.recharts-tooltip-wrapper{
    display: block !important;
    position: absolute !important;
    width: 200px !important;
    height: 100px !important;
    visibility: visible !important;
    top: 0px !important;
}
.recharts-wrapper{
    position: unset !important;
    overflow: visible !important;
}
.graph-tooltip{
    display: flex !important;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    color: white;
    width: 100%;
    height: 100%;
}
.graph-tooltip h1, .graph-tooltip h3, .graph-tooltip h6{
    margin: unset;
    padding: unset;
    margin-left: 20px;
    letter-spacing: 2px;
}
.graph-tooltip h3, .graph-tooltip h6{
    color: rgb(138, 138, 138);
    font-weight: normal;
}