// input[type=text], input[type=search], input[type=password], input[type=tel], input[type=email], input[type=url], input[type=number]
// {
//     display: block;
//     border:unset;
//     border-bottom: 1px solid grey;
//     outline: none;
//     box-sizing: border-box;
//     appearance: none;
//     -webkit-appearance: none;
//     padding-top: 10px;
//     padding-bottom: 10px;
//     padding-right: 10px;
//     -moz-appearance: textfield;
// }

// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }

// input[type=checkbox], input[type=radio]
// {
//     display: inline-block;
//     border:unset;
//     border: 1px solid grey;
//     outline: none;
//     box-sizing: border-box;
//     appearance: none;
//     -webkit-appearance: none;
//     padding: 10px;
// }

// textarea
// {
//     display: block;
//     outline: none;
//     border:unset;
//     border-bottom: 1px solid grey;
//     box-sizing: border-box;
//     appearance: none;
//     -webkit-appearance: none;
//     padding-top: 10px;
//     padding-bottom: 10px;
//     padding-right: 10px;
// }

// select
// {
//     display: block;
//     outline: none;
//     box-sizing: border-box;
//     background-color: white;
//     border-radius: 0;
//     appearance: none;
//     -webkit-appearance: none;
//     border:unset;
//     border-bottom: 1px solid grey;
//     padding-top: 10px;
//     padding-bottom: 10px;
//     padding-right: 20px;
//     background: #fff url(./assets/baseline_unfold_more_black_18dp.png) no-repeat right 5px center;
// }

// input[type=text], button, textarea, select
// {
//     margin: 10px;
// }
