#app {

}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5em;
    letter-spacing: 2px;
}

p {
    text-align: center;
    color: #AAA;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

li {
    text-align: center;
}

.create-account{
    display: flex;
    justify-content: center;
}
.create-account-details{
  padding: unset;
  margin: unset;
  list-style: none;
  padding-left: 0px;
  margin-left: 30px;
  width: 500px;
}
.create-account-details li{
  text-align: left !important;
}
.create-account-details li label{
  text-align: left !important;
}
.create-account-details textarea{
  font-size: 16px !important;
}

.create-account-image-box{
  display: flex;
  width: 500px;
  justify-content: flex-end;
}
.create-account-image-upload{
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #555;
  border-radius: 20px;
}
.create-account-image-upload > img{
  width: 100%;
  height: auto;
}

.read-account{
    margin-top: 20px;
    padding: 0px 10px;
}
.read-account button{
    margin-top: 10px;
}


label {
    display: block;
    letter-spacing: 4px;
    padding-top: 30px;
    text-align: center;
  }

  label .label-textbox {
    color: #9B9B9B;
    cursor: text;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
}

  label .label-text {
    color: #9B9B9B;
    cursor: text;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    -moz-transform: translateY(-34px);
    -ms-transform: translateY(-34px);
    -webkit-transform: translateY(-34px);
    transform: translateY(-34px);
    transition: all 0.3s;
    text-align: left;
}

label input, label textarea {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #4A4A4A;
    color: white;
    font-size: 26px;
    letter-spacing: 1px;
    outline: 0;
    padding: 5px;
    text-align: left;
    transition: all 0.3s;
    width: 300px;
    font-family: 'Open Sans', sans-serif;
}
  label input:focus {
    max-width: 100%;
    width: 400px;
  }
  label input:focus + .label-text {
    color: #F0F0F0;
    font-size: 13px;
    -moz-transform: translateY(-64px);
    -ms-transform: translateY(-64px);
    -webkit-transform: translateY(-64px);
    transform: translateY(-64px);
  }
  label input:valid + .label-text {
    font-size: 13px;
    -moz-transform: translateY(-64px);
    -ms-transform: translateY(-64px);
    -webkit-transform: translateY(-64px);
    transform: translateY(-64px);
  }
  
  button {
    background-color: #000;
    border: 2px solid white;
    border-radius: 100px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: all 200ms;
    
    letter-spacing: 2px;
    font-weight: 600;
    box-shadow: 0px 0px 20px #0004;
    font-family: "Open Sans";
  }
  button:hover, button:focus {
    background-color: white;
    color: #333333;
    outline: 0;
  }

.account-avatar{
  display: flex;
  width: 30px;
  height: 30px;
  background-color: darkcyan;
  border-radius: 50%;
  border: 2px solid #FFF;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-size: cover;
}
