.header a{
    padding: 10px;
    color:white;
    text-decoration: none;
}

.creator-header {
    background-color: rgb(46, 46, 46);
    height: 60px;
}
.creator-header aside{
    display: flex;
}
.creator-header aside > *{
    margin-left: 10px;
}
.creator-header-avatar-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    border-radius: 50px;
    /* border: 1px solid white; */
    background-color: black;
}
.creator-header-cluster-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 20px;
    border-radius: 50px;
    /* border: 2px solid white; */
    background-color: black;
}
.creator-header-avatar-container > span{
    display: block;
    margin-right: 10px;
}

.creator-header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.logo > img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}