.connect{
    display: flex;
    justify-content:center;
}
.connect > button{
    padding: 10px 20px;
    background-color: black;
    border: #FFF 2px solid;
    border-radius: 100px;
    color: #FFF;
    font-family: 'Open Sans';
    letter-spacing: 1px;
    font-weight: 600;
}

.wallet-picker{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 9999;
	background-color: rgba(0, 0, 0, 0.9);
	display: flex;
	justify-content: center;
	align-items: center;
	/* top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9999;
	background-color: #999; */
}
.wallet-picker-close-button{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 20px;
	right: 20px;
	border-radius: 50%;
	width: 60px;
	height: 60px;
}
.wallet-picker > ul{
	list-style: none;
	padding: 20px;
	margin: unset;
}
.wallet-picker-button{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}
.wallet-picker-button > img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 10px;
}