.searchbar{
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  margin: 40px 0;
  background-color: rgb(46, 46, 46);
  /* border: 2px solid white; */
  border-radius: 10px;
  padding: 0 20px;
}
.searchbar > button{
  background-color: transparent;
  border:unset;
  box-shadow: unset;
  margin: unset;
  padding: unset;
}
.searchbar > button:hover{
  color: white;
}
.searchbar > button > i{
  font-size: 20px;
}
.searchbar-input{
  width: 100%;
  font-size: 20px;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  background-color: transparent;
  border: unset;
  padding: 0px;
  margin: 10px;
  border-right: 1px solid #AAA;
  font-family: "Open Sans";
  letter-spacing: 1px;
  color: #CCC;
}

.nft-details{
  display: flex;
  justify-content: space-between;
}
.nft-details > div:nth-child(1){
  display: flex;
  padding-right: 20px;
}
.nft-details ul{
  list-style: none;
  margin-top: 0;
}
.nft-details ul li{
  text-align: left;
}

.author-details-content{
  display: flex;
}

.explorer-nftpro-title {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #FFF;
    margin-bottom: 3px;
}
.explorer-nftpro-key {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #FFF;
  margin-bottom: 30px;
}

.explorer-nftpro-description {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #AAA;
  margin-bottom: 30px;
}

.explorer-dashboard {
  padding: 20px;
  border-radius: 10px;
  background-color:rgb(46, 46, 46);
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.explorer-dashboard h2 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 5px;
}

.explorer-dashboard h3 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  color: #DDD;
  margin-bottom: 5px;
  margin-top: 0px;
}

.explorer-dashboard h4 {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  color: #AAA;
  margin-bottom: 5px;
  margin-top: 0px;
}

.explorer-dashboard img {
  height: 18px;
  margin-right: 5px;
}

.explorer-lorts-details{
	/* display: flex;
	flex-flow: row; */
	width: 80%;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 50% 50%;
	justify-items: end;
	/* column-gap: 10px; */
  	row-gap: 20px;
}

.explorer-pie-chart{
	width: 200px !important;
	height: 200px !important;
	box-sizing: border-box !important;
}

.explorer-error-message{
	text-align: center;
	color: #AAA;
	margin-top: 0px;
	margin-bottom: 40px;
	margin-block-start: 0px;
	padding-top: 0px;
}

.currency-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
    box-sizing: border-box;
    min-width: 200px;
    background-color: rgb(45 45 45);
    padding: 10px;
    border-radius: 10px;
    height: 120px;
}
.currency-box > span:nth-child(1){
  border-bottom: 1px solid #555;
  margin-bottom: 10px;
  padding-bottom: 5px;
  width: 100%;
  text-align: center;
}
.currency-box > span:nth-child(2){
  display: block;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
}
.currency-box > span:nth-child(2) > img{
  height: 20px;
  margin-right: 5px;
}
.currency-box > span:nth-child(3){
  margin-top: 5px;
  color:#AAA;
}

.explorer-mint-button{
  position: relative;
  font-size: 10px;
  border: none;
  background-color: #1F9FA4;
  height: 24px;
  margin: 0;
  padding: 4px 30px;
  border-radius: 50px;
  color: white;
  text-decoration: none;
}
.explorer-mint-button:hover{
  background-color: #1b8c90;
  text-shadow: #555;
}

.acc-price-icon > img{
  height: 10px;
  margin-right: 5px;
}

.text-align-left{
  text-align: left !important;  
}
.hide{
  display: none;
}

.explorer-graph-container{
	display: grid;
	grid-template-columns: 48.5% 48.5%;
	column-gap: 3%;
}