.create-rights{
    list-style: none;
    padding-left: 0px;
    margin-left: 10px;
}
.create-rights label{
    display:flex;
    width:100%;
}
.create-rights li{
    margin-bottom: 5px;
}
.create-rights li label span{
    display:block;
    width:100px;
}

.rights{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.rights > div{
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid grey;
}
.rights ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}