/*Licence Category Creator*/
.create-licence-category
{
    list-style: none;
    padding: unset;
    margin: unset;
}

/*Licence Categories Viewer*/
.licence-categories{
    justify-content: center;
}

.licence-category-item{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    background-color: rgb(49, 49, 49);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 0px;
}
.licence-category-item:first-child{
    margin-top: unset;
}
.licence-category-item:last-child{
    margin-bottom: unset;
}
.licence-category-item ul{
    list-style: none;
    margin: unset;
    padding: unset;
}

.licence-category-item .details li{
    text-align: left;
}

.licence-category-item .controlls button{
    margin: unset;
}
.licence-category-item .controlls li{
    margin-top: 10px;
    margin-bottom: 10px;
}
.licence-category-item .controlls li:first-child{
    margin-top: unset;
}
.licence-category-item .controlls li:last-child{
    margin-bottom: unset;
}

