.create-artwork{
    box-sizing: border-box;
    padding-top: 10px;
    position: relative;
}
.create-artwork .details{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding-top: 50px;
}
.create-artwork-details-data{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}
.create-artwork-image-upload{
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #555;
    border-radius: 20px;
}
.create-artwork-image-upload > img{
    width: 100%;
    height: auto;
}
.create-artwork .form-details{
    list-style: none;
    padding-left: 0px;
    padding-top: 0px;
    margin-top: 0px;
    margin-left: 20px;
    width: 410px;
}
.create-artwork .form-details label{
    text-align: left;
    padding-top: 15px;
}
.create-artwork .form-details label span{
    text-align: left;
}

.create-artwork .form-details label textarea{
    text-align: left;
    padding-left: 5px;
    font-size: 14px;
    padding-top: 10px;
    height: 95px;
}

.create-artwork-final-price{
    background-color: transparent;
    border:unset;
    width: 100px !important;
    height: 30px;
    font-size: 24px;
    color: #FFF;
    text-align: center;
    font-family: "Open Sans";
    letter-spacing: 1px;
    width: 100px;
    outline: unset;
}

.create-artwork .rights-controls{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    margin-top: 20px;
}
.create-artwork .rights-controls button{
    margin-right: 20px;
    font-size: 14px;
}

.rights-selector{
    position: absolute;
    width: 100%;
    z-index: 10;
    top: 0;
}

.rights-selector-dialogue{
    position: relative;
    box-sizing: border-box;
    background-color: rgb(72 72 72);
    border-radius: 13px;
    width: 700px;
    margin: 0 auto;
    box-shadow: 0 0 100px #000;
    top: -20px;
    border: 3px solid #b5b5b5;
}

.rights-selector-dialogue > h2{
    text-align: center;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 0px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 3px;
    background: #fff;
    color: #000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.rights-selector-close{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    padding: 0px 0px 0px 2px;
    line-height: 30px;
    border: none;
    margin: 0;
}
.rights-selector-footer{
    display: flex;
    justify-content: center;
}
.rights-selector-footer > button {
    border: none;
    background: #1F9FA4;
    margin: 20px;
    width: 300px;
}


.rights-selector-add{
    align-self: center;
    border: none;
    background: #1F9FA4;
    margin: 20px;
    width: 300px;
}

.licence-details{
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 0px 40px;
}
.licence-details > label{
    display: block;
    clear: both;
    text-align: left;
}
.licence-details > label > input {
    text-align: left;
    padding-left: 5px;
    border-bottom: 2px solid rgb(190, 190, 190);
}
.licence-details > label > div {
    text-align: left;
}


.licence-presets{
    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    background-color: #888;
}
.licence-presets > button{
    margin-right: 20px;
    font-size: 12px;
    margin-top: 0;
}



.create-artwork-selected-rights{
    margin-top: 20px;
}
.create-artwork-selected-rights td, .create-artwork-selected-rights th{
    padding: 10px;
    text-align: left;
}
.create-artwork-selected-rights > button{
    margin-top: 20px;
}
.price-input-component{
    display:flex;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    width: 100%;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #545454;
    color: #ffffff;
    text-align: left;
}

.styled-table th {
    padding: 12px 15px;
    letter-spacing: 1px;
    font-weight: 700;
    text-align: center;
}

.styled-table td {
    padding: 12px 15px;
    letter-spacing: 1px;
    font-weight: 600;
    text-align: center;
}

.styled-table tbody tr {
    background-color: #1B1B1B;
    border-bottom: 1px solid #444;
    height: 85px;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #545454;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.styled-table .table-license-title {
    width: 500px;
}
.styled-table .table-license-file {
    width: 200px;
}

button.close {
    height: 32px;
    margin: 0;
    font-size: 12px;
    padding: 0px 15px;
    background-color: #A41A47;
    border: none;
    box-shadow: 0 2px 10px #0004;
}

.input-on-license {
    background-color: black;
    border-radius: 50px;
    border: 2px solid #777;
    height: 30px;
    font-size: 14px;
    color: #FFF;
    text-align: center;
    font-family: "Open Sans";
    letter-spacing: 1px;
    width: 50px;
    outline: unset;
}

.price-input-component > input{
    width: 100px;
    background-color: black;
    border-radius: 50px;
    border: 2px solid #777;
    height: 30px;
    font-size: 14px;
    color: #FFF;
    text-align: center;
    font-family: "Open Sans";
    letter-spacing: 1px;
    outline: unset;
}

.author-handle {
    color: #FFF;
    text-align: left;
}

.author-hash {
    font-size: 12px;
    color: #888;
    text-align: left;
}

.title > label > input {
    text-align: left;
    padding-left: 5px;
}

.description {
    margin-top: -15px;
}

.file-upload-button {
    position: relative;
    font-size: 10px;
    border: none;
    background-color: #1F9FA4;
    height: 24px;
    margin: 0;
    padding: 4px 30px;
    border-radius: 50px;
}

.custom-file-upload > i {
    margin-right: 5px;
}

.priceDetails {
    width: 300px;
    background-color: rgb(45 45 45);
    border-radius: 20px;
}

.priceDetails > h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 100;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.priceDetails ul, .lorts-details ul {
    list-style-type: none;
    margin: 0;
    background-color: rgb(45 45 45);
    padding: 10px;
    border-radius: 10px;
}
.priceDetails ul > li,  .lorts-details ul > li{
    margin: 0;
    padding-bottom: 10px;
}

.lorts-details{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    flex-flow: column;
    width:150px;
}
.lorts-details ul{
    flex-grow: 1;
    box-sizing: border-box;
}
.lorts-details > ul:nth-child(1){
    margin-bottom: 30px;
}

.price-calculation {
    display: flex;
    justify-content: space-around;
}
.price-calculation ul{
    border:2px solid #878787;
}
.price-calculation .price-label{
    border:unset !important;
}
.price-calculation .price-dollars{
    margin-top: 7px;
}

.price-label {
    font-size: 14px;
    letter-spacing: 1px;
    border-bottom: 1px solid #555;
}

.author {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.price-artcoins-container {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 50px;
    border: 2px solid #777;
    padding: 0 35px 0 10px;
}

.lort-artcoins-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #555;
    margin-bottom: 10px;
}
.lorts-bottom
{
    font-size: 14px;
    color: #AAA;
}

.price-artcoins {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 2px;
    text-shadow: 0 5px 10px #0004;
    padding: 10px 0px;
}

.price-dollars {
    font-size: 16px;
    color: #AAA;
    letter-spacing: 1px;
}

.artcoins-logo{
    height: 20px;
    margin-right: 10px;
}

.mint-button {
    margin-top: 15px;
    text-align: center;
}

.mint-button > button {
    width: 200px;
    background-color: #1F9FA4;
    border: none;
}

.license-title {
    background-color: #2f2f2f;
    border-radius: 50px;
    height: 32px;
    padding: 0px 30px;
    line-height: 32px;
    border: 2px solid #777;
}

.rights-selector-list {
    overflow-y: auto;
    max-height: 500px;
}

.table-license-row {
    padding: 8px 15px;
    letter-spacing: 1px;
    border-bottom: 1px solid #dadada;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.table-license-row > label{
    cursor: pointer;
    text-align: left;
    padding-top: unset;
}

.table-license-right {
    padding-left: 80px;
    background: #FFF;
    color: #444;
}

.table-license-top-category {
    padding-left: 40px;
    background: #AAA;
    font-weight: 600;
}

.table-license-sub-category {
    padding-left: 60px;
    background: #DDD;
    color: #222;
    font-weight: 600;
}

.table-license-right > input {
    margin-right: 10px;
}