.creator-cluster-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 20px;
    border-radius: 50px;
    background-color: black;
    cursor: pointer;
}
.creator-cluster-container:hover{
    background-color: rgb(187, 187, 187);
    color: black;
}

.creator-cluster-selector-container{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0px !important;
}

.creator-cluster-selector{
    position: absolute;
    background-color: rgb(41, 41, 41);
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 9999;
}
.creator-cluster-selector > span{
    cursor: pointer;
    margin-left: 10px;
}
.creator-cluster-selector > h2{
    text-align: center;
}
.creator-cluster-selector > div{
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
}

.creator-cluster-selector-item{
    display: flex;
    align-items: flex-start;
    flex-flow: column;
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
    border: 1px solid cadetblue;
    border-radius: 10px;
    margin-block-end: 10px;
}
.creator-cluster-selector-item-active{
    border: 1px solid olivedrab;
}
.creator-cluster-selector-item-active > span:first-child{
    color: olivedrab !important;
}
.creator-cluster-selector-item:hover{
    background-color: black;
}
.creator-cluster-selector-item > span:first-child{
    color: cadetblue;
}

.creator-cluster-selector-item-connected{
    border: 1px solid purple;
}
.creator-cluster-selector-item-connected > span{
    color:purple !important;
}
.creator-cluster-selector-item-connecting{
    animation-duration: 900ms;
    animation-iteration-count: infinite;
    animation-name: connecting;
}
.creator-cluster-selector-item > input{
    appearance: unset;
    outline: unset;
    border: unset;
    background-color: transparent;
    color: white;
    font-size: 16px;
}

@keyframes connecting {
    from{
        border: 1px solid olivedrab;
    }
    50%{
        border: 1px solid purple;
    }
    to{
        border: 1px solid olivedrab;
    }
}