@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

html, body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #FFF;
  box-sizing: border-box;
  min-height: 100vh;
}

body{
    font-family: 'Open Sans', sans-serif;
    background: url("./front/assets/img/background.png");
    background-color: #121416;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -1100px;
}

nav {
    height: 60px;
    background-color: #24282c;
    margin-bottom: 30px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}