.ipfs-image{
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    background-color: rgb(46, 46, 46);
    border: 3px solid #555;
    border-radius: 20px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}