.nft-congrats{
    /* position: relative; */
}
.nft-congrats-content{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    border: 2px solid white;
    overflow: hidden;
    padding: 40px;
    background-color: #2E2E2E;
}
.nft-congrats-content h3{
    text-align: center;
}
.nft-congrats-content p{
    color: white;
}
.nft-congrats-content p span{
    color: cornflowerblue;
}
.nft-congrats-controls{
    display: flex;
    justify-content: center;
}
.nft-congrats-controls a{
    padding: 10px 20px;
    margin: 10px;
    background-color: black;
    border-radius: 50px;
    text-decoration: none;
    color: white;
}